.blurry {
  filter: blur(0); /* initial state: no blur */
  transition: filter 0.3s ease-in-out; /* add a smooth transition */
}
/* .blure {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
} */

#featuredimages{
image-rendering: pixelated;
}